<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout_sub}">

<main id="contents" layout:fragment="contents">
    <div class="sub-content">
        <div class="member-wrap">
            <div class="login-wrap">
                <div class="w-set2">
                    <div class="tit-area hide-m">
                        <h2 class="tit">비밀번호 찾기</h2>
                    </div>
                    <div class="tab-list">
                        <a href="/find/id">아이디 찾기</a>
                        <a href="/find/password" class="on">비밀번호 찾기</a>
                    </div>
                    <form action="">
                        <div class="input-wrap">
                            <!-- 비밀번호 정보가 없을 때 -->
                            <div class="empty" id="empty-message" style="display: none;">
                                <p>작성하신 정보와 일치하는 계정이<br /> 존재하지 않습니다.</p>
                            </div>

                            <!-- 비밀번호 찾기 결과 -->
                            <div class="result" id="result" style="display: none">
                              <p id="result-message">
                                입력하신 휴대폰 번호로 <br />
                                비밀번호 변경 링크를 발송하였습니다.
                              </p>
                            </div>

                            <div class="input-item">
                                <input type="text" name="loginId" id="loginId" placeholder="아이디">
                                <label for="loginId" class="is-blind">아이디</label>
<!--                                <p class="error-txt">아이디를 입력해주세요.</p>-->
                            </div>
                            <div class="input-item">
                                <input type="text" name="phoneNo" id="phoneNo" placeholder="휴대폰 번호">
                                <label for="phoneNo" class="is-blind">휴대폰 번호</label>
<!--                                <p class="error-txt">휴대폰 번호는 10자~11자로 입력해주세요.</p>-->
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <button type="button" id="findPasswordBtn" class="btn color2" onclick="findPassword()">비밀번호 찾기</button>
                        </div>
                        <div class="btn-wrap" id="joinBtn" style="display: none">
                            <button type="button" onclick="goToJoin()" class="btn color2">회원가입 하기</button>
                        </div>
                        <div class="btn-wrap" id="loginBtn" style="display: none">
                            <button type="button" onclick="goToLogin()" class="btn color2">로그인 이동</button>
                        </div>
                        <div class="btn-wrap" id="testBtn" style="display: none">
                            <button type="button" class="btn color2">테스트 비밀번호 변경 페이지 이동</button>
                        </div>
                    </form>
                    <div class="bottom-menu">
                        <div class="go-link">
                            <a href="/login" class="link">로그인 하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script layout:fragment="script">
    //서브 페이지 제목
    var hdNm = "비밀번호 찾기";

    // input validition - outline
    const userId = document.querySelector('input[id="loginId"]');
    const phoneNo = document.querySelector('input[name="phoneNo"]');
    $('.btn-wrap .btn').on('click', function () {
        if (userId.value === '') {
            $(userId).parent('.input-item').addClass('empty-item');
        }
        if (phoneNo.value === '') {
            $(phoneNo).parent('.input-item').addClass('empty-item');
        }
    });

    // 에러 메시지 태그 생성
    function showError(message, inputId) {
        const inputItem = document.getElementById(inputId).parentElement;
        const errorElement = document.createElement("p");
        errorElement.className = "error-txt";
        errorElement.textContent = message;
        inputItem.appendChild(errorElement);
    }

    // 에러 메시지 태그 삭제
    function removeErrorMessages() {
        document.querySelectorAll(".error-txt").forEach(message => message.remove());
    }

    // 페이지 이동 함수
    function goToPage(page) {
        location.href = `/${page}`;
    }

    // 로그인, 회원가입, 비밀번호 찾기 페이지 이동 함수
    function goToLogin() { goToPage('login'); }
    function goToJoin() { goToPage('join'); }

    // 유효성 검사 함수
    function validateInputs(loginId, phoneNo) {
        let hasError = false;
        removeErrorMessages();

        if (loginId.trim() === "") {
            showError("이름을 입력해주세요.", "loginId");
            hasError = true;
        }

        if (phoneNo.trim() === "") {
            showError("휴대폰 번호를 입력해주세요.", "phoneNo");
            hasError = true;
        } else if (phoneNo.length < 10 || phoneNo.length > 11) {
            showError("휴대폰 번호는 10자~11자로 입력해주세요.", "phoneNo");
            hasError = true;
        }

        return !hasError; // 유효성 검사를 통과하면 true 반환
    }

    // 비밀번호 찾기 성공 처리 함수
    function handleSuccess(result) {
        document.querySelectorAll(".input-item").forEach(item => item.style.display = 'none');
        document.getElementById("findPasswordBtn").style.display = 'none';
        document.getElementById("result").style.display = '';
        document.getElementById("loginBtn").style.display = '';

        // TODO 추후 알림톡 작업 후 삭제 예정
        document.getElementById("testBtn").style.display = '';
        document.getElementById("testBtn").addEventListener("click", () => {
            window.location.href = "/find/password/result?token=" + result.data.data.jwtToken;
        });
    }

    // 비밀번호 찾기 실패 처리 함수
    function handleFailure() {
        document.querySelectorAll(".input-item").forEach(item => item.style.display = 'none');
        document.getElementById("findPasswordBtn").style.display = 'none';
        document.getElementById("joinBtn").style.display = '';
        document.getElementById("empty-message").style.display = "block";
        document.getElementById("result-message").style.display = "none";
    }

    // 비밀번호 찾기 버튼 클릭
    function findPassword() {
        const loginId = document.getElementById("loginId").value;
        const phoneNo = document.getElementById("phoneNo").value;

        if (!validateInputs(loginId, phoneNo)) {
            return; // 유효성 검사 실패 시 함수 종료
        }

        fetch("/api/find/password", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ loginId, phoneNo })
        })
            .then(res => res.json())
            .then(result => {
                if (result.data.code === 200) {
                    handleSuccess(result);
                } else {
                    handleFailure();
                }
            });
    }

</script>
</html>
