<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout_sub}">

<main id="contents" layout:fragment="contents">
    <div class="sub-content">
        <div class="member-wrap">
            <div class="login-wrap">
                <div class="w-set2">
                    <div class="tit-area hide-m">
                        <h2 class="tit">비밀번호 변경</h2>
                    </div>
                    <form action="">
                        <div class="input-wrap reset-wrap">
                            <!-- 비밀번호 변경 결과 -->
                            <div class="result" style="display: none" id="password_result">
                              <p>비밀번호가 변경되었습니다.</p>
                            </div>

                            <div class="input-item">
                                <input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요">
                                <label for="password" class="is-blind">비밀번호를 입력해주세요</label>
                                <p class="error-txt" id="passwordError" style="display: none">비밀번호를 입력해주세요.</p>
                            </div>
                            <div class="input-item">
                                <input type="password" name="passwordCheck" id="passwordCheck" placeholder="비밀번호를 다시 입력해 주세요">
                                <label for="passwordCheck" class="is-blind">비밀번호를 다시 입력해 주세요</label>
                                <p class="error-txt" id="passwordCheckError" style="display: none">비밀번호가 일치하지 않습니다.</p>
                            </div>
                        </div>
                        <div class="btn-wrap" id="changeBtn">
                            <button type="button" class="btn color2" onclick="changePassword()">비밀번호 변경</button>
                        </div>
                        <div class="btn-wrap" id="loginBtn" style="display: none">
                            <button type="button" class="btn color2" onclick="goToLogin()">로그인 이동</button>
                        </div>
                    </form>
                    <div class="bottom-menu">
                        <div class="go-link">
                            <a href="/login" class="link">로그인 하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script layout:fragment="script" th:inline="javascript">
    // 서브 페이지 제목
    const hdNm = "비밀번호 변경";

    const newPw = document.querySelector('input[id="password"]');
    const newPwChk = document.querySelector('input[name="passwordCheck"]');
    $('.btn-wrap .btn').on('click', () => {
        [newPw, newPwChk].forEach(input => {
            if (input.value === '') {
                $(input).parent('.input-item').addClass('empty-item');
            }
        });
    });

    // 에러 메시지 표시 함수
    function showError(element, message) {
        element.style.display = '';
        element.innerText = message;
    }

    // 에러 메시지 숨기기
    function hideError(element) {
        element.style.display = 'none';
    }

    // 비밀번호 입력 및 일치 여부 확인
    function validatePassword(password, passwordCheck) {
        let hasError = false;

        if (!password.trim()) {
            showError(document.getElementById("passwordError"), '비밀번호를 입력해주세요.');
            hasError = true;
        } else {
            hideError(document.getElementById("passwordError"));
        }

        if (!passwordCheck.trim()) {
            showError(document.getElementById("passwordCheckError"), '비밀번호를 다시 입력해주세요.');
            hasError = true;
        } else if (password !== passwordCheck) {
            showError(document.getElementById("passwordCheckError"), '비밀번호가 일치하지 않습니다.');
            hasError = true;
        } else {
            hideError(document.getElementById("passwordCheckError"));
        }

        return !hasError;
    }

    // 비밀번호 변경 함수
    function changePassword() {
        const token = /*[[${token}]]*/'';
        const password = document.getElementById("password").value;
        const passwordCheck = document.getElementById("passwordCheck").value;

        if (!validatePassword(password, passwordCheck)) {
            return;
        }

        fetch("/api/find/password/change", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({token, password, passwordCheck})
        })
            .then(res => res.json())
            .then(result => {
                if (result.data.code === 200) {
                    handlePasswordChangeSuccess();
                } else {
                    $popup.alert(result.data.message);
                }
            });
    }

    // 비밀번호 변경 성공 시 처리 함수
    function handlePasswordChangeSuccess() {
        document.getElementById("password_result").style.display = '';
        document.getElementById("loginBtn").style.display = '';
        document.getElementById("changeBtn").style.display = 'none';

        document.querySelectorAll(".input-item").forEach(tag => {
            tag.style.display = 'none';
        });
    }

    // 로그인 이동
    function goToLogin() {
        location.href = "/login";
    }
</script>
</html>
